@model Orkidea.SchoolPanel.Entities.School

@{
    ViewBag.Title = "uploadLogo";
}

<!-- validation -->
@Scripts.Render("~/Scripts/jquery.min.js")
@Scripts.Render("~/lib/validation/jquery.validate.min.js")
@Scripts.Render("~/js/gebo_validation.js")





<h2>Adjuntar archivos a tareas</h2>

<div class="row-fluid">
    <div class="span6">
        @using (Ajax.BeginForm("uploadLogo", null, null, new AjaxOptions { UpdateTargetId = "divInvoiceList" }, new { id = "uploaded", @class = "form_validation_ttip", enctype = "multipart/form-data" }))
        {
        
            
            <div>
                <label>Logo Colegio</label>
                <div data-fileupload="file" class="fileupload fileupload-new">
                    <input type="hidden" value="" name="">
                    <span class="btn btn-file btn-warning">
                        <span class="fileupload-new">Seleccionar</span>
                        <span class="fileupload-exists">Cambiar</span>
                        <input type="file" name="file" accept ="image/*">
                    </span>
                    <span class="fileupload-preview"></span>
                    <a style="float: none" data-dismiss="fileupload" class="close fileupload-exists" href="#">&times;</a>
                </div>
            </div>
            <hr />
            <div class="row-fluid">
                <div class="span12">
                    <input type="submit" value="Guardar" class="btn btn-info" /> | @Html.ActionLink("Volver al Home","Index", "Home")
                </div>
            </div>
        
        }
    </div>

    <div id="uploaded" class="span6">

    </div>
</div>

